.manuel{
    background: url(../public/assets/img/banner/h4_banner_bg.jpg);
    background-position: center; 
}
.manuel2022{
    background: url(../public/assets/img/bg/history_bg.jpg);
    background-position: center;
    background-size: cover;
}
.manuelbread{
    background: url(../public/assets/img/1.jpg);
    background-position: center;
    background-size: cover;
}
.manuelbreadcontact{
    background: url(../public/assets/img/service.jpg);
    background-position: center;
    background-size: cover;
}
.color6{
    color: green;
}
.wi50{
    width: 10rem;
}
.logos{
    width: 5rem;
}
.mobile-menu{
    display: block !important;
}
@media screen and (max-width: 990px) {
 
}