.manuel{
    background: url(../public/assets/img/banner/h4_banner_bg.jpg);
    background-position: center; 
}
.manuel2022{
    background: url(../public/assets/img/bg/history_bg.jpg);
    background-position: center;
    background-size: cover;
}
.manuelbread{
    background: url(../public/assets/img/1.jpg);
    background-position: center;
    background-size: cover;
}
.logos{
    width: 3rem;
}
@media screen and (max-width: 990px) {
    .logos{
        width: 2rem;
    }
}