.manuel{
    background: url(../public/assets/img/banner/h4_banner_bg.jpg);
    background-position: center; 
}
.manuel2022{
    background: url(../public/assets/img/bg/history_bg.jpg);
    background-position: center;
    background-size: cover;
}
.manuelbread{
    background: url(../public/assets/img/bg/breadcrumb_bg.jpg);
}
.logos{
    width: 7rem;
}